<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">

	<resultMap type="boardVO" id="boardSelectMap">
		<result property="board_no" column="BOARD_NO" jdbcType="INTEGER"/>
		<result property="title" column="TITLE" jdbcType="VARCHAR"/>
		<result property="writer" column="WRITER" jdbcType="VARCHAR"/>
		<result property="content" column="CONTENT" jdbcType="VARCHAR"/>
		<result property="viewcnt" column="VIEWCNT" jdbcType="VARCHAR"/>
		<result property="regdate" column="REGDATE" jdbcType="DATE"/>
	</resultMap> 

<!-- 	<resultMap type="adminSelectMap" id="cosmetic">
		
	</resultMap> -->
	<!-- Board Mapper -->

	<insert id="createBoard">
		INSERT INTO TBL_BOARD (TITLE,CONTENT,WRITER)
		VALUES(#{title}, #{content}, #{writer})
	</insert>

	<select id="getBoard" resultMap="boardSelectMap">
		SELECT
		BOARD_NO,TITLE,CONTENT,WRITER,REGDATE,VIEWCNT
		FROM
		TBL_BOARD
		WHERE BOARD_NO =
		#{board_no}

	</select>

	<update id="updateBoard">
		UPDATE TBL_BOARD 
		SET TITLE = #{title}, CONTENT = #{content}
		WHERE BOARD_NO = #{board_no}

	</update>

	<delete id="deleteBoard">
		DELETE
		FROM TBL_BOARD
		WHERE BOARD_NO = #{board_no}

	</delete>


	<select id="listBoard" resultMap="boardSelectMap" >
	<![CDATA[  
	  SELECT * 
	  FROM TBL_BOARD 
	  WHERE BOARD_NO > 0

	]]>

		<include refid="search"></include>
	  
	<![CDATA[    
	  ORDER BY BOARD_NO DESC
	  LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>


	<select id="countBoard" resultType="int">
	<![CDATA[  
	  SELECT COUNT(BOARD_NO) 
	  FROM TBL_BOARD 
	  WHERE BOARD_NO > 0 

	]]>
		<include refid="search"></include>
	</select>

	<update id="updateViewCnt">
		UPDATE TBL_BOARD
		SET VIEWCNT=VIEWCNT +1
		WHERE BOARD_NO = #{board_no}
	</update>
	
	<!-- Cosmetic Mapper -->
<!-- 	
	<insert id="createCosmetic">
		INSERT INTO TBL_COSMETIC (BRAND, MODEL, PRODUCT, AMOUNT, PRICE, INGREDIENT)
		VALUES(#{brand},#{model},#{product},#{amount},#{price},#{ingredient})
	</insert>
	
	<select id="getCosmetic" resultType="cosmetic">
		SELECT *
		FROM TBL_COSMETIC
		WHERE COSMETIC_NO = #{cosmetic_no}
	</select>
	
	<update id="updateCosmetic">
	UPDATE TBL_COSMETIC
	SET BRAND = #{brand} ,MODEL = #{model} ,PRODUCT = #{product} ,AMOUNT = #{amount} ,PRICE = #{price} ,INGREDIENT = #{ingredient} 
	WHERE COSMETIC_NO = #{cosmetic_no}
	</update>
	
	<delete id="deleteCosmetic">
		DELETE 
		FROM TBL_COSMETIC 
		WHERE COSMETIC_NO = #{cosmetic_no}
	</delete>
	
	<select id="listCosmetic" resultType="cosmetic">
	<![CDATA[
	SELECT * 
	FROM TBL_COSMETIC
	WHERE COSMETIC_NO > 0 
	]]>
		<include refid="search"></include>
	<![CDATA[
	ORDER BY COSMETIC_NO DESC
	LIMIT #{pageStart},#{perPageNum}
	]]>
	</select>

	<select id="countCosmetic" resultType="int">
	SELECT COUNT(COSMETIC_NO)
	FROM TBL_COSMETIC
	WHERE COSMETIC_NO > 0
	<include refid="search"></include>
	</select>
	
	 -->
	<!-- common -->
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND TITLE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				AND WIRTER LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND ( TITLE LIKE CONCAT('%', #{keyword}, '%') OR CONTENT
				LIKE
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				AND ( CONTENT LIKE CONCAT('%', #{keyword}, '%') OR WIRTER
				LIKE
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				AND ( TITLE LIKE CONCAT('%', #{keyword}, '%')
				OR
				CONTENT
				LIKE CONCAT('%', #{keyword}, '%')
				OR
				WRITER LIKE CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>
</mapper>
