<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">

	<resultMap type="boardVO" id="boardSelectMap">
		<result property="boardNo" column="BOARD_NO" jdbcType="INTEGER"/>
		<result property="title" column="TITLE" jdbcType="VARCHAR"/>
		<!-- <result property="writer" column="WRITER" jdbcType="VARCHAR"/> -->
		<result property="content" column="CONTENT" jdbcType="VARCHAR"/>
		<result property="viewcnt" column="VIEWCNT" jdbcType="VARCHAR"/>
		<result property="regdate" column="REGDATE" jdbcType="DATE"/>
		
		<result property="userId" column="USERID" jdbcType="VARCHAR" />
	</resultMap> 

<!-- 	<resultMap type="adminSelectMap" id="cosmetic">
		
	</resultMap> -->
	<!-- Board Mapper -->

	<insert id="createBoard">
		INSERT INTO TBL_BOARD (TITLE,CONTENT,USERID)
		VALUES(#{title}, #{content}, #{userId})
	</insert>

	<select id="getBoard" resultMap="boardSelectMap">
		SELECT *
		FROM TBL_BOARD 
		WHERE BOARD_NO = #{boardNo}

	</select>

	<update id="updateBoard">
		UPDATE TBL_BOARD 
		SET TITLE = #{title}, CONTENT = #{content}
		WHERE BOARD_NO = #{boardNo}

	</update>

	<delete id="deleteBoard">
		DELETE
		FROM TBL_BOARD
		WHERE BOARD_NO = #{boardNo}

	</delete>


	<select id="getBoardList" parameterType="search" resultMap="boardSelectMap" >
	<![CDATA[  
		SELECT B.TITLE, U.USERID, B.CONTENT, B.VIEWCNT,B.REGDATE,B.BOARD_NO
		FROM TBL_USER AS U INNER JOIN TBL_BOARD AS B
		ON U.USERID=B.USERID
		AND BOARD_NO > 0
		]]>
		<include refid="searchAdmin"></include>
		<![CDATA[ 
		ORDER BY BOARD_NO DESC
		LIMIT #{startRowNum}, #{pageSize}
	]]>
	</select>


	<select id="totalCountBoard" parameterType="search" resultType="int">
	
	<![CDATA[  
	  SELECT COUNT(*) 
	  FROM( SELECT B.BOARD_NO , B.TITLE, B.USERID
	  		FROM TBL_BOARD AS B
			]]>
	  	<include refid="searchAdmin"></include>
	  ) countTable

	</select>

	<update id="updateViewCnt">
		UPDATE TBL_BOARD
		SET VIEWCNT=VIEWCNT +1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- common -->
		<sql id="searchAdmin">
		<if test="searchCondition != null">
		<where>
			<if test="searchCondition == '0'.toString()">
				AND B.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test="searchCondition == '1'.toString()">
				AND B.USERID LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test="searchCondition == '2'.toString()">
				AND B.BOARD_NO LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		</if>
	</sql>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND TITLE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'u'.toString()">
				AND USERID LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND ( TITLE LIKE CONCAT('%', #{keyword}, '%') OR CONTENT
				LIKE
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cu'.toString()">
				AND ( CONTENT LIKE CONCAT('%', #{keyword}, '%') OR USERID
				LIKE
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcu'.toString()">
				AND ( TITLE LIKE CONCAT('%', #{keyword}, '%')
				OR
				CONTENT
				LIKE CONCAT('%', #{keyword}, '%')
				OR
				USERID LIKE CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>
</mapper>
