<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CosmeticMapper">		
 
	  <insert id="createCosmetic" parameterType="cosmeticVO">
	  	INSERT INTO
	 	TBL_COSMETIC(BRAND,MODEL,PRODUCT,AMOUNT,PRICE,INGREDIENT)
	 	VALUES(#{brand},#{model},#{product},#{amount},#{price},#{ingredient})
	  </insert>
	  
	  <select id="getCosmeticList" resultType="cosmeticVO">
	  <![CDATA[
		SELECT * FROM TBL_COSMETIC WHERE COSMETIC_NO>0 
	  ]]>
	  
	  	<include refid="search"></include>
		
	   <![CDATA[
			ORDER BY COSMETIC_NO DESC
			LIMIT #{pageStart}, #{perPageNum}
	   ]]>
		
	  </select>
	  
	  <select id="totalCountCosmetic" resultType="int">
		<![CDATA[  
	  		SELECT COUNT(COSMETIC_NO) 
	  		FROM TBL_COSMETIC 
	  		WHERE COSMETIC_NO > 0 

		]]>
		
		<include refid="search"></include>
	</select>
	  
	  <select id="getCosmetic" resultType="cosmeticVO">
	 		SELECT * 
	 		FROM TBL_COSMETIC 
	 		WHERE COSMETIC_NO=#{cosmtic_no}
	  
	  </select>
	  
	  <update id="updateCosmetic" parameterType="cosmeticVO">
	 	UPDATE TBL_COSMETIC 
	 	SET BRAND = #{brand} ,MODEL = #{model} ,PRODUCT = #{product} ,AMOUNT = #{amount} ,PRICE = #{price} ,INGREDIENT = #{ingredient} 
		WHERE COSMETIC_NO = #{cosmetic_no}
	  </update>
	  
	  <delete id="deleteCosmetic" parameterType="cosmeticVO">
	  	DELETE FROM TBL_COSMETIC WHERE COSMETIC_NO = #{cosmetic_no}
	  </delete>
	  
	  <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'brand'.toString()">
				AND BRAND LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'model'.toString()">
				AND MODEL LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'product'.toString()">
				AND PRODUCT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'amount'.toString()">
				AND AMOUNT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'price'.toString()">
				AND PRICE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'ingredient'.toString()">
				AND INGREDIENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
			
</mapper>