<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CrawlingMapper">


<!-- OliveYoungSearch -->
<insert id="createCrawlingOlive">
		INSERT INTO TBL_CRAWLING_OLIVEYOUNG(PRODUCT_NAME,BRAND,PRICE,IMAGE_PATH,MOUNT,SKIN_TYPE,TERM,METHOD,MANUFACTURER,ORIGINATION,INGREDIENT,FUNCTIONAL,PRECAUTIONS)
	VALUES(#{productName},#{brand},#{price},#{imagePath},#{mount},#{skinType},#{term},#{method},#{manufacturer},#{origination},#{ingredient},#{functional},#{precautions})
</insert>

</mapper>