<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<typeAliases>
		<typeAlias alias="user" type="com.sample.choc2.service.domain.User" />
		<typeAlias alias="boardVO" type="com.sample.choc2.service.domain.BoardVO" />
		<typeAlias alias="replyVO" type="com.sample.choc2.service.domain.ReplyVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/AdminMapper.xml"/>
	</mappers>

</configuration>