<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<typeAliases>
		<typeAlias alias="userVO" type="com.sample.choc2.service.domain.UserVO" />
		<typeAlias alias="boardVO" type="com.sample.choc2.service.domain.BoardVO" />
		<typeAlias alias="replyVO" type="com.sample.choc2.service.domain.ReplyVO" />
		<typeAlias alias="cosmeticVO" type="com.sample.choc2.service.domain.CosmeticVO" />
		<typeAlias alias="toxicVO" type="com.sample.choc2.service.domain.ToxicVO" />
		<typeAlias alias="uvraysVO" type="com.sample.choc2.service.domain.UvraysVO" />
		<typeAlias alias="whiteningVO" type="com.sample.choc2.service.domain.WhiteningVO" />
		<typeAlias alias="wrinkleVO" type="com.sample.choc2.service.domain.WrinkleVO" />
		<typeAlias alias="oilyVO" type="com.sample.choc2.service.domain.OilyVO" />
		<typeAlias alias="dryVO" type="com.sample.choc2.service.domain.DryVO" />
		<typeAlias alias="sensitiveVO" type="com.sample.choc2.service.domain.SensitiveVO" />
		<typeAlias alias="commonVO" type="com.sample.choc2.common.domain.CommonVO" />
		<typeAlias alias="search" type="com.sample.choc2.common.Search" />
		<typeAlias alias="log" type="com.sample.choc2.common.domain.Log" />
		<typeAlias alias="crawlingVO" type="com.sample.choc2.common.domain.CrawlingVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sql/LogMapper.xml"/>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/AdminMapper.xml"/>
		<mapper resource="sql/ReplyMapper.xml"/>
		<mapper resource="sql/CosmeticMapper.xml" />
		<mapper resource="sql/CommonMapper.xml" />
		<mapper resource="sql/CrawlingMapper.xml" />
	</mappers>

</configuration>