<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ProductMapper">

	<resultMap id="productSelectMap" type="product">
		<id property="productNo" column="PRODUCT_NO" jdbcType="VARCHAR" />
		<result property="productImage" column="PRODUCT_IMAGE" jdbcType="VARCHAR" />
		<result property="productModel" column="PRODUCT_MODEL" jdbcType="VARCHAR" />
			
		<association property="writer" javaType="userVO" >
			<id property="email" column="EMAIL" jdbcType="VARCHAR"/>
			<result property="nickname" column="NICKNAME" jdbcType="VARCHAR"/>
		</association>
			
			<!-- <association property="writer" 			javaType="userVO" 					resultMap="UserMapper.userSelectMap"/> -->
			
	</resultMap>

	<insert id="addProduct" parameterType="product">
		INSERT INTO TBL_PRODUCT (PRODUCT_NO,PRODUCT_MODEL,PRODUCT_IMAGE)
		VALUES (0,#{productModel:VARCHAR}, #{productImage:VARCHAR} )
		
	</insert>



	<select id="getProduct" parameterType="map" resultMap="productSelectMap" >
		
<!-- 		select * 
from TBL_PRODUCT p
LEFT JOIN TBL_USER u
ON u.EMAIL = p.writer
WHERE p.PRODUCT_NO = #{prodNo} -->

		select * 
from TBL_PRODUCT p
inner JOIN TBL_USER u
WHERE p.PRODUCT_NO = #{product.productNo}



	</select>

	<update id="updateProduct" parameterType="product">
		UPDATE PRODUCT
		<set>
			PRODUCT_MODEL = #{productModel:VARCHAR},
			PRODUCT_IMAGE = #{productImage:VARCHAR}
		</set>
			WHERE PRODUCT_MODEL =#{productModel}
	</update>

	
	<select  id="getProductList" parameterType="search"  resultMap="productSelectMap">
	
	SELECT * FROM TBL_PRODUCT
	
		ORDER BY 1 DESC
		
			LIMIT #{startRowNum}, #{pageSize}
	  
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT PRODUCT_NO , PRODUCT_MODEL
						FROM TBL_PRODUCT
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			PRODUCT_MODEL = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
	
	 
	 
</mapper>	
			
		
