<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="ReplyMapper">
	<resultMap type="replyVO" id="replySelectMap">
		<result property="boardNo" column="BOARD_NO" jdbcType="INTEGER"/>
		<result property="replyNo" column="REPLY_NO" jdbcType="INTEGER"/>
		<result property="replytext" column="REPLYTEXT" jdbcType="VARCHAR"/>
		<result property="replyer" column="REPLYER" jdbcType="VARCHAR"/>
		<result property="regdate" column="REGDATE" jdbcType="DATE"/>
		<result property="updatedate" column="UPDATEDATE" jdbcType="DATE"/>	
	</resultMap> 
				<!-- Reply Mapper -->
	
	<insert id="createReply">
		INSERT INTO TBL_REPLY (BOARD_NO,REPLYTEXT,REPLYER)
		VALUES (#{boardNo},#{replytext},#{replyer})
	</insert>

	<update id="updateReply">
		UPDATE TBL_REPLY SET REPLYTEXT = #{replytext}, UPDATEDATE = NOW()
		WHERE REPLY_NO = #{replyNo}
	</update>

	<delete id="deleteReply">
		DELETE FROM TBL_REPLY WHERE REPLY_NO=#{replyNo}
	</delete>

	<select id="listReplyPage" resultMap="replySelectMap" >
		SELECT
		*
		FROM
		TBL_REPLY
		WHERE
		BOARD_NO=#{boardNo}
		ORDER BY REPLY_NO DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<select id="countReply" resultType="int">
		SELECT
		COUNT(BOARD_NO)
		FROM
		TBL_REPLY
		WHERE
		BOARD_NO=#{boardNo}
	</select>

	<select id="getBoardNo" resultType="int">
		SELECT BOARD_NO
		FROM TBL_REPLY
		WHERE REPLY_NO=#{replyNo}
	</select>
	
	<update id="updateReplyCnt">
		UPDATE TBL_BOARD
		SET REPLYCNT = REPLYCNT + #{amount}
		WHERE BOARD_NO=#{boardNo}
	</update>


</mapper>