<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
	</resultMap>
	 
	 
	 <!-- 대소문자 test  -->
	 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
		SELECT
		user_id , password 		
		FROM USERS
		WHERE user_id = #{value}
	 </select>
	 
	 <insert id="createUser" parameterType="user">
	 	INSERT INTO
	 	TBL_USER(USERID,PASSWORD,NICKNAME,NAME,EMAIL,ADDRESS,PHONENO,GENDER,AGE,JUMIN,UUID,ROLE)
	 	VLAUES(#{USERID},#{PASSWORD},#{NICKNAME},#{NAME},#{EMAIL},#{ADDRESS},#{PHONENO},#{GENDER},#{AGE},#{JUMIN},#{UUID},#{ROLE})
	 </insert>
	 
</mapper>