<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 	column="userid" 		jdbcType="VARCHAR"/>
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
	</resultMap>
	 
	 
	 <!-- 대소문자 test  -->
	 <select id="getUser" parameterType="string"	resultMap="userSelectMap">
		SELECT
		USERID,PASSWORD 		
		FROM TBL_USER
		WHERE USERID = #{userId}
	 </select>
	 
	 <insert id="createUser" parameterType="user">
	 	INSERT INTO
	 	TBL_USER(USERID,PASSWORD,NICKNAME,NAME,EMAIL,ADDRESS,PHONENO,GENDER,AGE,JUMIN,ROLE)
	 	VALUES(#{userId},#{password},#{nickName},#{name},#{email},#{address},#{phoneNo},#{gender},#{age},#{jumin},#{role})
	 </insert>
	 
	 <select id="idCheck" parameterType="string" resultType="string">
		SELECT USERID FROM TBL_USER WHERE USERID = #{userId}
	 
	 </select>
	 
	
	 <select id="nickCheck" parameterType="string" resultType="string">
		SELECT NICKNAME FROM TBL_USER WHERE NICKNAME = #{nickName}
	  </select>
	  
	  <insert id="createCosmetic" parameterType="cosmetic">
	  	INSERT INTO
	 	TBL_COSMETIC(BRAND,MODEL,PRODUCT,AMOUNT,PRICE,INGREDIENT)
	 	VALUES(#{brand},#{model},#{product},#{amount},#{price},#{ingredient})
	  </insert>
	  
	  <select id="getCosmeticList" resultType="cosmetic">
	  <![CDATA[
		SELECT * FROM TBL_COSMETIC WHERE COSMETIC_NO>0 
	  ]]>
	  
	  	<include refid="search"></include>
		
	   <![CDATA[
			ORDER BY COSMETIC_NO DESC
			LIMIT #{pageStart}, #{perPageNum}
	   ]]>
		
	  </select>
	  
	  <select id="totalCount" resultType="int">
		<![CDATA[  
	  		SELECT COUNT(COSMETIC_NO) 
	  		FROM TBL_COSMETIC 
	  		WHERE COSMETIC_NO > 0 

		]]>
		
		<include refid="search"></include>
	</select>
	  
	  <select id="getCosmetic" resultType="cosmetic">
	 		SELECT * FROM TBL_COSMETIC WHERE COSMETIC_NO=#{cosmtic_no}
	  
	  </select>
	  
	  <insert id="updateCosmetic" parameterType="cosmetic">
	 	UPDATE TBL_COSMETIC SET BRAND=#{brand},MODEL=#{model},PRODUCT=#{product},AMOUNT=${amount},PRICE=#{price},INGREDIENT=#{ingredient} WHERE COSMETIC_NO=#{cosmetic_no}
	  
	  </insert>
	  
	  <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'brand'.toString()">
				AND BRAND LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'model'.toString()">
				AND MODEL LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'product'.toString()">
				AND PRODUCT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'amount'.toString()">
				AND AMOUNT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'price'.toString()">
				AND PRICE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'ingredient'.toString()">
				AND INGREDIENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	  
	  
</mapper>