<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	
	 <resultMap id="userSelectMap" type="userVO">
	  	<result property="userNo" 	column="USER_NO" 	jdbcType="INTEGER"/> 
		<result property="userId" 	column="USERID" 	 	jdbcType="VARCHAR"/>
		<result property="password" 	column="PASSWORD" 	jdbcType="VARCHAR" />
		<result property="uuid"		column="UUID"		jdbcType="VARCHAR" />
	 	<result property="nickName"  column="NICKNAME"   jdbcType="VARCHAR" />
		<result property="name"  	column="NAME"   		jdbcType="VARCHAR" />
		<result property="email"  	column="EMAIL"   	jdbcType="VARCHAR" />
		<result property="address"	column="ADDRESS"		jdbcType="VARCHAR" />
		<result property="phoneNo"	column="PHONENO"		jdbcType="INTEGER" />
		<result property="gender"	column="GENDER"		jdbcType="VARCHAR" /> 
		<result property="age"		column="AGE"			jdbcType="INTEGER" />
 		<result property="jumin"		column="JUMIN"		jdbcType="INTEGER" />
		<result property="role"		column="ROLE"		jdbcType="VARCHAR" />
	</resultMap>  
	
	<resultMap type="userVO" id="userCommonSelectMap">
		<result property="userNo" 	column="USER_NO" 	jdbcType="INTEGER"/> 
		<result property="userId" 	column="USERID" 	 	jdbcType="VARCHAR"/>
		<result property="nickName"  column="NICKNAME"   jdbcType="VARCHAR" />
		<result property="name"  	column="NAME"   		jdbcType="VARCHAR" />
		<result property="email"  	column="EMAIL"   	jdbcType="VARCHAR" />
		<result property="address"	column="ADDRESS"		jdbcType="VARCHAR" />
		<result property="phoneNo"	column="PHONENO"		jdbcType="INTEGER" />
		<result property="gender"	column="GENDER"		jdbcType="VARCHAR" /> 
		<result property="age"		column="AGE"			jdbcType="INTEGER" />
		<result property="role"		column="ROLE"		jdbcType="VARCHAR" />
		
		<result property="common_no" column="common_no" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="getUserList" resultMap="userCommonSelectMap">
		SELECT C.COMMON_NO, C.ROLE, U.USERID,U.NAME, 
		U.NICKNAME, U.EMAIL,U.ADDRESS,U.PHONENO,U.GENDER,U.AGE,U.USER_NO
		FROM TBL_COMMON AS C INNER JOIN TBL_USER AS U
		ON C.ROLE = U.ROLE
		ORDER BY C.COMMON_NO ASC;
	</select>
	
	<select id="getSuperUser" resultType="userVO">
		SELECT *
		FROM TBL_USER
		WHERE USER_NO = #{userNo}
	</select>

	<!--  대소문자 test  -->
 	 <select id="getUser" parameterType="String"	resultMap="userSelectMap">
		SELECT
		* 		
		FROM TBL_USER
		WHERE USERID = #{userId}
	 </select> 
	 
	  <insert id="createUser" parameterType="userVO">
	 	INSERT INTO
	 	TBL_USER(USERID,PASSWORD,NICKNAME,NAME,EMAIL,ADDRESS,PHONENO,GENDER,AGE,JUMIN,ROLE)
	 	VALUES(#{userId},#{password},#{nickName},#{name},#{email},#{address},#{phoneNo},#{gender},#{age},#{jumin},#{role})
	 </insert>
	 
	 <select id="idCheck" parameterType="String" resultMap="userSelectMap">
		SELECT
		USERID
		FROM TBL_USER 
		WHERE USERID = #{userId}
	 </select>
	 
	 <select id="nickCheck" parameterType="String" resultMap="userSelectMap">
		SELECT NICKNAME FROM TBL_USER WHERE NICKNAME = #{nickName}
	  </select>
	 
</mapper>